# --- SEGURIDAD (¡Lo más importante!) ---
.env
.env.local

# --- Python ---
__pycache__/
*.pyc
*.pyo

# --- Base de Datos Local ---
# (No queremos subir la base de datos de prueba a GitHub)
db.sqlite3

# --- Entornos Virtuales ---
# (Tu carpeta con las librerías instaladas)
venv/
env/
.venv/

# --- Archivos Estáticos y Media ---
# (Estos se generan solos o viven en Cloudinary)
staticfiles/
media/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db